html, body
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

body
{
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	background-color: #333;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.29, rgb(17,17,17)),
	    color-stop(0.65, rgb(51,51,51))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(17,17,17) 29%,
	    rgb(51,51,51) 65%
	);
}
.ui-autocomplete 
{
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	opacity: 0.90;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(15,15,15)),
	    color-stop(1, rgb(45,45,45))
	) !important;
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(15,15,15) 0%,
	    rgb(45,45,45) 100%
	) !important;
	border: 1px solid #444 !important;
	color: #BBB !important;
}
.ui-autocomplete  .ui-menu-item *
{
	color: #BBB;
}
select
{
	width: 300px;
}
#header
{
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
#watermark
{
	background: url('../img/watermark.png') center center no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#settings
{
	background-color: #111;
	height: 30px;
	border-bottom: 1px solid #444;
	color: #999;
	padding: 20px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(15,15,15)),
	    color-stop(1, rgb(45,45,45))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(15,15,15) 0%,
	    rgb(45,45,45) 100%
	);
	z-index: 100 !important;
}

#settings_tab
{
	position: relative;
}
#settings_tab a
{
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: #999;
	background-color: #111;
	border: 1px solid #444;
	border-top: 1px solid #0f0f0f;
	position: absolute;
	right: 20px;
	top: -1px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(30,30,30)),
	    color-stop(1, rgb(15,15,15))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(30,30,30) 0%,
	    rgb(15,15,15) 100%
	);
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#settings_tab a:hover
{
	color: #BBB;
}

#run
{
	width: 400px;
	float: left;
	z-index: 100 !important;
}
#status
{
	width: 200px;
	font-size: 20px;
	float: right;
	color: #666;
	position: relative;
}
#loading
{
	position: absolute;
	left: -22px;
	top: 3px;
}
#command_line
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.29, rgb(17,17,17)),
	    color-stop(0.65, rgb(51,51,51))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(17,17,17) 29%,
	    rgb(51,51,51) 65%
	);
	border-top: 1px solid #444;
	z-index: 55;
}
#command_line div
{
	padding: 5px 10px 5px 30px;
	background: url('../img/arrow.png') 12px center no-repeat;
}
#command_line div.focus
{
	background: url('../img/arrow_focus.png') 12px center no-repeat;
}
#command
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #FFF;
	font-size: 12px;
	width: 98%;
	padding: 5px 0px 5px 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.29, rgb(255,255,255)),
	    color-stop(0.65, rgb(220,220,220))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 29%,
	    rgb(220,220,220) 65%
	);
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	color: #333;
}
#command::-webkit-input-placeholder {
    color: #777;
	font-family: Helvetica, Geneva, Arial, sans-serif;
}
#command:-moz-placeholder {
    color: #777;
	font-family: Helvetica, Geneva, Arial, sans-serif;
}
#command:focus
{
	outline: none;
}
#source_code
{
	background-color: #FFF;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 42px;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#close_source
{
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 50;
}
#source_code pre
{
	width: 100%;
	height: 100%;
	margin-top: 42px;
	padding-top: 30px;
	z-index: 40;
	background: url('../img/watermark.png') center center no-repeat fixed #FFF !important;
}

#output_window
{
	position: absolute;
	bottom: 42px;
	width: 100%;
	z-index: 50;
}
#output_tab
{
	position: relative;
}
#output_tab a
{
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: #999;
	background-color: #111;
	border: 1px solid #444;
	border-bottom: none !important;
	position: absolute;
	right: 20px;
	top: -24px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(45,45,45)),
	    color-stop(1, rgb(30,30,30))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(45,45,45) 0%,
	    rgb(30,30,30) 100%
	);
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	opacity: 0.95;
	z-index: 55;
}
#output_tab a:hover
{
	color: #BBB;
}
#output
{
	display: none;
	background-color: #111;
	height: 200px;
	overflow: auto;
	border-top: 1px solid #444;
	color: #999;
	padding: 20px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(15,15,15)),
	    color-stop(1, rgb(45,45,45))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(15,15,15) 0%,
	    rgb(45,45,45) 100%
	);
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	opacity: 0.95;
	z-index: 50;
}
#output ul
{
	margin: 0px;
	padding: 0px;
}
#output li
{
	list-style: none;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #2d2d2d;
	opacity: 0.25;
	cursor: default;
}
#output li.recent
{
	opacity: 1;
}
#output li:hover
{
	opacity: 1;
}
#output li span
{
	color: #BBB;
	padding-right: 8px;
}
#output li span.value
{
	color: #6597ed;
}
#output li span.warn
{
	color: #edcf65;
}
#output li span.error
{
	color: #ed6565;
}
#output a.clear
{
	position: absolute;
	top: 5px;
	right: 38px;
	text-decoration: none;
}
#output a.clear:hover
{
	color: #BBB;
}

/* @group iPhone Switch */
.iPhoneCheckContainer
{
	position: relative;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
	float: right;
}
.iPhoneCheckContainer input
{
	position: absolute;
	top: 5px;
	left: 30px;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.iPhoneCheckContainer label
{
	white-space: nowrap;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	height: 27px;
	position: absolute;
	width: auto;
	top: 0;
	padding-top: 5px;
	overflow: hidden;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label
{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.iPhoneCheckDisabled
{
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
label.iPhoneCheckLabelOn
{
	color: white;
	background: url('../img/on.png') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0;
	padding-top: 5px;
}
label.iPhoneCheckLabelOn span
{
	padding-left: 8px;
}
label.iPhoneCheckLabelOff
{
	color: #8b8b8b;
	background: url('../img/off.png') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0;
}
label.iPhoneCheckLabelOff span
{
	padding-right: 8px;
}
.iPhoneCheckHandle
{
	display: block;
	height: 27px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url('../img/slider_left.png') no-repeat;
	padding-left: 3px;
}
.iPhoneCheckHandleRight
{
	height: 100%;
	width: 100%;
	padding-right: 3px;
	background: url('../img/slider_right.png') no-repeat right 0;
}
.iPhoneCheckHandleCenter
{
	height: 100%;
	width: 100%;
	background: url('../img/slider_center.png');
}
/* @end */